.winner-container {
  height: 100%;
  z-index: 100;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .button-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
