<div class="winner-container">
  <h1>{{this.winner | uppercase}} WINS</h1>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="gameService.resetGame()">Same Players</button>
    <button mat-raised-button color="secondary" (click)="gameService.createNewGame()">New Game</button>
  </div>
</div>
