.board-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(32, 178, 171, 0.6);
  align-items: center;

  app-player-view {
    width: 100%;
  }
}


