<div class="board-container">
  <app-player-view
    [player]="p1"
    [opp]="p2"
    [toServe]="p1ToServe"
    [hasMatchPoint]="hasMatchPoint(p1, p2)"
    (updateScore)="updateScore(p1)"
  ></app-player-view>
  <app-player-view
    [player]="p2"
    [opp]="p1"
    [toServe]="!p1ToServe"
    [hasMatchPoint]="hasMatchPoint(p2, p1)"
    (updateScore)="updateScore(p2)"
  ></app-player-view>
</div>
