<h1 mat-dialog-title style="text-align: center;">{{'NEW GAME' | uppercase}}</h1>
<div mat-dialog-content style="text-align: center;">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Player 1</mat-label>
      <input matInput [(ngModel)]="player1">
    </mat-form-field>
  </div>
  <div>
     <mat-form-field appearance="fill">
      <mat-label>Player 2</mat-label>
      <input matInput [(ngModel)]="player2">
    </mat-form-field>
  </div>
  <div>
     <mat-form-field appearance="fill">
      <mat-label>Score</mat-label>
      <input matInput [(ngModel)]="targetScore">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" style="width: 100%" [mat-dialog-close]="{player1, player2, targetScore}" cdkFocusInitial>{{'Start' | uppercase}}</button>
</div>
