<button mat-raised-button *ngIf="!winner" color="primary" class="new-game-button" (click)="createNewGame()">New Game</button>
<app-board-view *ngIf="!winner"></app-board-view>
<app-winner-view *ngIf="winner" [winner]="winner"></app-winner-view>

