.player-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  border: 10px solid white;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: lightseagreen;

  h1 {
    text-transform: capitalize;
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    font-size: 30vh;
    text-shadow: 7px 7px rgba(0, 0, 0, 0.3);
    // animation: floating 3s linear infinite;
    cursor: pointer;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0)
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
