<div class="player-container">
  <h1>{{player.name}}</h1>
  <h1>{{toServe ? 'to serve' : '&nbsp;'}}</h1>
  <h1>{{hasMatchPoint ? 'match point' : '&nbsp;'}}</h1>
  <span class="score" (click)="onScoreClicked()">{{player.score}}</span>
</div>
